@using AktifBankTech.Web.Client.Helper.Url

@{
    ViewBag.Title = "GetSubscriberWithFilter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/JSTools/Subscriber/subscriber.js" type="text/javascript"></script>

<div class="pageWrapper" filterUrl="@UrlManager.GetUrl("GetSubscriberWithFilterList")" turnOfUrl="@UrlManager.GetUrl("TurnOffSubscription")">
    <div class="row">
        <div class="col-md-10">
            <h2>Abone Sorgulama</h2>
        </div>
    </div>
    <hr />

    <div class="tableWrapper">
        <div class="tabWrapper" id="newsTabWrapper">
            <div class="row">
                <div class="col-md-12">
                    <div id="form-personal">
                        <div class="row clearfix">
                            <div class="col-xl-12">
                                <div class="form-group form-group-default required">
                                    <label>Bireysel Müşteriler için TC Numarası, Tüzel Müşteriler İçin Vergi Numarası Girin</label>
                                    <input type="text" class="form-control" name="searchKeyword" placeholder="Giriş Yapın" required>
                                </div>
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group-default">
                                    <label>Abonelik Tipi</label>
                                    <select id="statusSelectItem" class="full-width" data-init-plugin="select2">
                                        <option value="">Seçim Yapın</option>
                                        <option value="Bireysel Müşteri">Bireysel</option>
                                        <option value="Tüzel Müşteri">Tüzel</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row m-t-25">
                            <div class="col-xl-6 p-b-10">

                            </div>
                            <div class="col-xl-6">
                                <button aria-label="" class="btn btn-primary pull-right btn-lg btn-block" type="submit" onclick="GetSubscriberWithFilter()">
                                    Abonelik Sorgula
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tableContent" id="newsDataContent" style="margin-top:25px;">
                <div class="table-responsive">
                    @*@Html.Action("UsersList")*@
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade slide-up disable-scroll" id="modalInvoiceStatus" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog ">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button aria-label="" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-icon">close</i>
                    </button>
                    <h5>Abonelik Kapatma <span class="semi-bold">İşlemi</span></h5>
                </div>
                <div class="modal-body">
                    <span>Aboneliği kapatmak istediğinize emin misiniz ?</span>
                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4 m-t-10 sm-m-t-10">
                            <button aria-label="" type="button" class="btn btn-primary btn-block m-t-5" id="surveyStatusUpdateBtn">Kapat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
