<div class=" container-fluid  container-fixed-lg footer">
    <div class="copyright sm-text-center">
        @*<button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalAbout" >About</button>*@
        <p class="small no-margin pull-right sm-pull-reset">
            Development by <a href="https://www.linkedin.com/in/y-selim-karaka%C5%9F-2bb85b162/">Y.Selim Karakaş</a>
        </p>
        <div class="clearfix"></div>
    </div>
</div>
<div id="alertWrapper">

</div>
