
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <img id="errorImg" src="~/assets/img/404-error-page-templates.jpg" />
        </div>
    </div>
</div>

